:root {
  --border-color: #cacaca;
  --background-color: #ffffff;

  --background-box-title: #f7f7f7;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.chakra-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  vertical-align: middle;
  fill: none;
  stroke: currentcolor;
}

.color-0042DA {
  color: #0042DA;
}

.color-e67200 {
  color: #e67200;
}

header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
}

header h2 {
  margin: 0px;
  line-height: 66px;
}

header a {
  color: black;
}

.them-edit-link {
  position: absolute;
  top: 10px;
  right: 100px;
  color: black;
  font-size: 40px;
}

.them-edit-link a {
  text-decoration: none;
}

.github-link {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
}

.wrapper {
  width: 100%;
  height: calc(100vh);
  display: flex;
}

.col {
  overflow: auto;
  width: 400px;
  border-right: 1px solid var(--border-color);
  margin: 8px;
  padding: 8px;
  border: solid 1px lightgray;
  border-radius: 10px;
}

.toolbar-header {
  font-weight: 500;
  padding-left: 8px;
}

.drag-drawflow {
  cursor: move;
  user-select: none;
  border-radius: 10px;
  border: solid 1px rgba(128, 128, 128, 0.2);
  background-color: rgba(211, 211, 211, 0.2);
  padding: 8px;
  margin: 4px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.w-50 {
  width: 50%;
  max-width: 50%;
}

.menu {
  position: absolute;
  height: 40px;
  display: block;
  background: white;
  width: 100%;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}

.menu ul li.selected {
  font-weight: bold;
}

.btn-export {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #0e5ba3;
  background: #4ea9ff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-clear {
  float: right;
  position: absolute;
  top: 10px;
  right: 85px;
  color: white;
  font-weight: bold;
  border: 1px solid #96015b;
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.swal-wide {
  width: 80% !important;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 140px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
}

.bar-zoom svg {
  cursor: pointer;
  padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
  padding-left: 0px;
}

#drawflow {
  position: relative;
  width: calc(100vw - 301px);
  height: calc(100%);
  background: var(--background-color);
  background-size: 25px 25px;
  background-image:
    linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }

  .col .drag-drawflow span {
    display: none;
  }

  #drawflow {
    width: calc(100vw - 51px);
  }
}



/* Editing Drawflow */

.drawflow .drawflow-node {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
  box-shadow: 0 2px 15px 2px var(--border-color);
  padding: 0px;
  width: 250px;
  border-radius: 10px;
}

.drawflow .drawflow-node.selected {
  background: white;
}

.drawflow .drawflow-node.selected .title-box {
  color: #e0e7ee;
  /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .connection .main-path {
  stroke: #4ea9ff;
  stroke-width: 3px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  height: 15px;
  width: 15px;
  border: 2px solid var(--border-color);
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
  background: #4ea9ff;
}

.drawflow .drawflow-node .output {
  right: 10px;
}

.drawflow .drawflow-node .input {
  left: -10px;
  background: white;
}

.drawflow>.drawflow-delete {
  border: 2px solid #43b993;
  background: white;
  color: #43b993;
  -webkit-box-shadow: 0 2px 20px 2px #43b993;
  box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
  border: 2px solid #4ea9ff;
  background: white;
  color: #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
  margin-top: 4px;
  line-height: 50px;
  background: #ffffff;
  border-radius: 15px;
  padding-left: 10px;
}

.drawflow .title-box svg {
  position: initial;
}

.drawflow-node .box {
  padding: 5px 20px 5px 10px;
  font-size: 14px;
  color: #555555;

}

.drawflow-node .box p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.drawflow-node.welcome {
  width: 250px;
}

.drawflow-node.slack .title-box {
  border-radius: 15px;
}

.drawflow-node input,
.drawflow-node select,
.drawflow-node textarea {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  width: 158px;
  color: #555555;
}

.drawflow-node textarea {
  height: 100px;
}


.drawflow-node.start {
  background: white;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  color: rgb(44, 15, 15);
}

.title-name {
  text-align: left;
  padding: 8px;
  margin-top: -80px;
}

.drawflow-node.personalized .input {
  background: yellow;
}

.drawflow-node.personalized .output {
  background: green;
}

.drawflow-node.personalized.selected {
  background: #ffffff;
}

.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: white;

}

.node-text {
  border-radius: 50px;
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #4ea9ff;
}

.css-1tedhhx {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-space-2);
  padding: var(--chakra-space-4);
  border-radius: var(--chakra-radii-xl);
  background: var(--chakra-colors-white);
  border-width: 1px;
  border-color: var(--chakra-colors-white);
  width: 300px;
  transition: border 300ms ease 0s, box-shadow 200ms ease 0s;
  position: absolute;
  cursor: pointer;
  box-shadow: var(--chakra-shadows-md);
  z-index: 1;
  pointer-events: auto;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}

.dragdrop-node {
  border-radius: 10px;
  padding: 8px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-right {
  justify-content: end;
}

.inner-dragdrop-node {
  background-color: rgba(211, 211, 211, 0.2);
  border: rgba(128, 128, 128, 1);
  border-radius: 10px;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.title-box {
  font-weight: 500;
}

.drawflow_content_node input {
  width: 100%;
  padding: 4px;
}

.icon-box {
  padding-left: 8px;
  padding-right: 8px;
}

.input-group input {
  border: none;
  background-color: transparent;
}

.input-group .icon-box {
  margin-top: -20px;
}

.lock-sidebar {
  border: rgba(128, 128, 128, 1);
  background-color: rgba(211, 211, 211, 0.5);
  padding: 8px;
  border-radius: 4px;
  transition: all ease 0.3s;
}

.lock-sidebar:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.8);

}